* { /* * : tout  */
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


/**** General block ***/
table, table td, table th {
    border-collapse: collapse;
    border: 1px solid black;
}

table td, table th {
    padding: 20px;
}

button, input[type="button"], input[type="submit"] {
    border-radius: 7px;
    border: solid 1px black;
    background-color: rgb(245, 222, 157);
    padding: 5px;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: rgb(245,245,245);
}

/***** LOGIN  ******/

#login_form{
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-style : inset;
    background-color: rgb(245, 222, 157);
}

#login_form input[type="submit"] {
    background-color: white;
}
#login_form input[type="submit"]:hover {
    background-color: rgb(245, 222, 157);
}

#login_form fieldset {
    border: none;
}

#login_form h2 {
    margin-bottom: 2px;
}


/***** HEADER  ******/
header {
    width: 100%;
    padding: 10px;
    background-color: rgb(245, 222, 157);
}

header h1 {
    display: inline-block;
    margin-left: 2%;
}

header form{
    float: right;
    margin-top: 25px;
    margin-right: 2%;
}

header form button {
    background-color: white;
}

header form button:hover {
    background-color: rgb(245, 222, 157);
}

/****** MAIN *****/
main {
    width: 95%;
    margin: auto;
    padding-top: 25px;
}

.error {
    color: rgb(230, 53, 53);
    font-weight: bold;
}

/****** FOOTER *****/
footer {
    width: 100%;
    min-height: 10vh;
    padding: 10px;
}

.rs, .copyright {
    display: inline-block;
}

.rs {
    float: right;
}
.rs-img {
    height: 40px;
    width: 160px;
}


p.login{
    color : blue;
    border-style: solid;

}
 

